.container {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }

  button {
    width: 150px;
    background-color: #4d5c77;

    &:hover {
      background-color: #293345;
    }
  }
}
