.container {
  width: 800px;
  border: 1px solid #fff;
  margin: 0 auto;

  .main {
    margin: 0 auto;
    text-align: center;

    .selectItens {
      display: grid;
      grid-template: 1 1;
    }
  }
}
